---
import "./Sidebar.css";

interface Props {
  publishedProjectNumber: number;
}

const { publishedProjectNumber } = Astro.props;

const currentPath = Astro.url.pathname.replace(/\/$/, "");
const currentProjectNumber = +currentPath.split("/")[1].replace("project", "");

const checkSection = (section: string) => {
  return currentPath.endsWith(section);
};
---

<aside class="main-sidebar">
  <strong>Módulo 2: Inmersión práctica en Desarrollo Web Full Stack</strong>
  <nav class="main-navigation">
    {
      publishedProjectNumber > 0 && (
        <ul class:list={[{ passed: publishedProjectNumber > 1 }]}>
          <li>
            <a
              href="/project1"
              class={checkSection("/project1") ? "current" : ""}
            >
              Proyecto 1: Text Analyzer
            </a>
            <ul class={currentProjectNumber === 1 ? "open" : ""}>
              <li>
                <a
                  href="/project1/requirements"
                  class={
                    checkSection("/project1/requirements") ? "current" : ""
                  }
                >
                  Requirements
                </a>
              </li>
              <li>
                <a
                  href="/project1/tests"
                  class={checkSection("/project1/tests") ? "current" : ""}
                >
                  Tests
                </a>
              </li>
              <li>
                <a
                  href="/project1/product-backlog"
                  class={
                    checkSection("/project1/product-backlog") ? "current" : ""
                  }
                >
                  Product Backlog
                </a>
              </li>
              <li>
                <a
                  href="/project1/sprint-1-backlog"
                  class={
                    checkSection("/project1/sprint-1-backlog") ? "current" : ""
                  }
                >
                  Sprint 1 Backlog
                </a>
              </li>
              <li>
                <a
                  href="/project1/sprint-2-backlog"
                  class={
                    checkSection("/project1/sprint-2-backlog") ? "current" : ""
                  }
                >
                  Sprint 2 Backlog
                </a>
              </li>
              <li>
                <a
                  href="/project1/troubleshooting"
                  class={
                    checkSection("/project1/troubleshooting") ? "current" : ""
                  }
                >
                  Troubleshooting
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
    {
      publishedProjectNumber > 1 && (
        <ul class:list={[{ passed: publishedProjectNumber > 2 }]}>
          <li>
            <a
              href="/project2"
              class={checkSection("/project2") ? "current" : ""}
            >
              Proyecto 2: Music Oasis
            </a>
            <ul class={currentProjectNumber === 2 ? "open" : ""}>
              <li>
                <a
                  href="/project2/requirements"
                  class={
                    checkSection("/project2/requirements") ? "current" : ""
                  }
                >
                  Requirements
                </a>
              </li>
              <li>
                <a
                  href="/project2/user-stories"
                  class={
                    checkSection("/project2/user-stories") ? "current" : ""
                  }
                >
                  User Stories
                </a>
              </li>
              <li>
                <a
                  href="/project2/ui-design"
                  class={checkSection("/project2/ui-design") ? "current" : ""}
                >
                  UI Design
                </a>
              </li>
              <li>
                <a
                  href="/project2/product-backlog"
                  class={
                    checkSection("/project2/product-backlog") ? "current" : ""
                  }
                >
                  Product Backlog
                </a>
              </li>
              <li>
                <a
                  href="/project2/sprint-1-backlog"
                  class={
                    checkSection("/project2/sprint-1-backlog") ? "current" : ""
                  }
                >
                  Sprint 1 Backlog
                </a>
              </li>
              <li>
                <a
                  href="/project2/sprint-2-backlog"
                  class={
                    checkSection("/project2/sprint-2-backlog") ? "current" : ""
                  }
                >
                  Sprint 2 Backlog
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
    {
      publishedProjectNumber > 2 && (
        <ul class:list={[{ passed: publishedProjectNumber > 3 }]}>
          <li>
            <a
              href="/project3"
              class={checkSection("/project3") ? "current" : ""}
            >
              Proyecto 3: Minesweeper
            </a>
            <ul class={currentProjectNumber === 3 ? "open" : ""}>
              <li>
                <a
                  href="/project3/user-stories"
                  class={
                    checkSection("/project3/user-stories") ? "current" : ""
                  }
                >
                  User Stories
                </a>
              </li>
              <li>
                <a
                  href="/project3/product-backlog"
                  class={
                    checkSection("/project3/product-backlog") ? "current" : ""
                  }
                >
                  Product Backlog
                </a>
              </li>
              <li>
                <a
                  href="/project3/sprint-1-backlog"
                  class={
                    checkSection("/project3/sprint-1-backlog") ? "current" : ""
                  }
                >
                  Sprint 1 Backlog
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
    {
      publishedProjectNumber > 3 && (
        <ul class:list={[{ passed: publishedProjectNumber > 4 }]}>
          <li>
            <a
              href="/project4"
              class={checkSection("/project4") ? "current" : ""}
            >
              Proyecto 4: Game of Thrones
            </a>
            <ul class={currentProjectNumber === 4 ? "open" : ""}>
              <li>
                <a
                  href="/project4/user-stories"
                  class={
                    checkSection("/project4/user-stories") ? "current" : ""
                  }
                >
                  User Stories
                </a>
              </li>
              <li>
                <a
                  href="/project4/ui"
                  class={checkSection("/project4/ui") ? "current" : ""}
                >
                  UI
                </a>
              </li>
              <li>
                <a
                  href="/project4/requirements"
                  class={
                    checkSection("/project4/requirements") ? "current" : ""
                  }
                >
                  Requirements
                </a>
              </li>
              <li>
                <a
                  href="/project4/product-backlog"
                  class={
                    checkSection("/project4/product-backlog") ? "current" : ""
                  }
                >
                  Product Backlog
                </a>
              </li>
            </ul>
          </li>
        </ul>
      )
    }
  </nav>
</aside>
