---
import { flagsmith } from "src/lib/flagsmith";
import BaseLayout from "../../layouts/BaseLayout.astro";

const { cookies } = Astro;

let username = Astro.cookies.get("trp-username");

// let isLogged = !!username || import.meta.env.DEV;
let isLogged = true;
let isAuthorized = true;

// let publishedProjectNumber = 0;
let publishedProjectNumber = 1;

const currentPath = Astro.url.pathname.replace(/\/$/, "");
const projectNumber = currentPath.replace("/project", "");

if (import.meta.env.DEV) {
  username = {
    value: "the-refactor-project",
  } as typeof username;
}

/* if (!username) {
  isAuthorized = false;
} */

/* if (isAuthorized) {
  const flags = await flagsmith.getIdentityFlags(username!.value);
  if (!flags.getFeatureValue("project-number")) {
    isAuthorized = false;
  } else {
    publishedProjectNumber = flags.getFeatureValue("project-number");

    if (+projectNumber > +publishedProjectNumber) {
      isAuthorized = false;
    }
  }
} */

console.log("Nuluentiendo");
console.log("isLogged", isLogged);
console.log("is authorized? ", isAuthorized);
console.log("flag: project number ", publishedProjectNumber);
---

<BaseLayout
  isLogged={isLogged}
  isAuthorized={isAuthorized}
  publishedProjectNumber={publishedProjectNumber}
>
  {
    isLogged || import.meta.env.DEV ? (
      isAuthorized ? (
        <slot />
      ) : (
        <>
          <div class="centered">
            <img
              src="/images/gandalf.jpg"
              alt="Señal de Gandalf diciendo 'You shall not pass'"
              width="200"
            />
            <h2>No puedes pasar</h2>
            <p>
              Si ves esto es porque no tienes autorización para ver esta página
              🤷. Si crees que deberías poder verla, pídele acceso al equipo
              administrador
            </p>
          </div>
        </>
      )
    ) : (
      <div class="login">
        <a
          href={`https://github.com/login/oauth/authorize?client_id=${import.meta.env.GITHUB_CLIENT_ID}`}
          class="signin"
        >
          Inicia sesión con Github
        </a>
      </div>
    )
  }
</BaseLayout>
